.header
     padding: 30px 0px 0px 0px
     height: 621px
     background-color:#4F5377 
.carr
     width: 90%
     height: 500
     padding: 80px 0px 0px 20px
     border: 0px 5px 0px 0px 
     text-align:center
    
     
     img 
        align:center
        width: 81%
        height: 510px
        padding: 0px 0px 0px 
        margin: 0px 8.5%
        
    
   