<div class="footer row">
     <div class="menu col-3">
         
        <ul>
            <li>Inicio</li>
            <li>Quienes somos</li>
            <li>Que hacemos</li>
            <li>Antecedentes</li>
        </ul>
     </div>
     <div class="col-6 footitulo">
            <div class="col-2 center-align">
                    <img src="https://image.ibb.co/jnWsGJ/Sin_t_tulo_2.png" alt="Sin_t_tulo_2" border="0">
                 </div>
         <h5>Patronato Pro Educacion Guaquitepec</h5>
         <p>Domicilio Conocido S/N,</p>
         <P>Ejido Guaquitepec Chilón, Chiapas.</P> 
         
     </div>
     
</div>