.antecedentes 
    padding: 120px 0px 0px 0px 
    text-align: center
    background-color: #1690C1
    
    h1  
      color: yellow
    .antcdt1
       p  
         font-weight: 600
         color: white