*
    margin 0px

#contenedor
    margin 0px 0px
    padding: 0px
    
body
    background-color darkgrey
    font-family 'Cuprum',arial,serif
    font-size 16px
    padding 0px
    margin 0px

#section
    text-align center
    padding: 110px 0px 0px 0px 
    svg  
      padding: 20px 0px 0px 0px 
      width: 100px
      height: 100px
    h1  
       padding: 0px 0px 0px 0px 
    p  
       padding: 0px
       margin: 0px
#arriba
    width: 100%
    height 200px
    background-color #1BA4C5  
    font-weight 600
    font-size 20px
    color white
    padding: 0px
    margin: 0px
    h1  
      padding: 0px
ul 
    color: white  
    li   
          color: white  

#img
    float right
    padding 20px

#promotoresinfo
    padding 100px 0px 0px 0px
    font-weight 600
    color: #464646
    font-size: 20px
    p 
      text-align: justify
.contenidos 
     margin: 50px 0px 5px 0px 
     float left
     
    p 
       font-size: 18px
       text-align: left
       font-weight: 550
    img 
       width 650px
       padding: 10px
         
    .filosofia
       padding: 10px 18px 0px 0px 
       .frasefilo
         text-align: center
         padding: 5px 0px   
       p  
         text-align: justify
         padding: 5px 0px  
    .perfil-egr
          margin: 15px 10px 15px 0px 
          background-color: white  
          padding: 0px
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          h3 
             padding: 5px 0px 15px 0px
             color black
          
     
          ul
            font-size: 18px
            text-align: left
            font-weight: 550
            background-color: white
            margin 0px 0px 10px 0px 
           
            li
              list-style: circle outside
              color:#272529
              text-align: justify
              text-decoration-color: blue
              
    
.objetivos
    margin: 0px 0px 0px 0px 
    padding: 10px 0px 0px 0px 
    float left
    background-color: #B3E5FF 
    
    h2 
       font-family: 'Oswald', sans-serif;
       background-color: #CDF7DE  
       padding: 0px 20px
       margin: 0px
    ul 
       text-align: left
       color: black
       font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
       font-weight: 520
          
       li 
          float left
          color: black
          margin-bottom: 15px
.valores
    margin: 0px 0px 0px 0px 
    background-color: #B3E5FF 
    text-align: left
    h2
        font-family: 'Oswald', sans-serif;
        padding: 0px 20px
        margin: 0px
        background-color: #CDF7DE 
        text-align: center
        ul 
          text-align: left
          color: black
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          font-weight: 520
          background-color: #b3e5ff
          padding: 20px 0px 0px 20px 
          li 
            list-style: lower-alpha
            color: black
            float left
            padding: 0px
            margin-bottom: 15px
            background-color: #b3e5ff
            
#infoprepa
    padding 20px 20px 0px 0px 
    width 740
    float right
    font-weight 600
    color: #464646
    font-size: 20px
    margin: 0px

#imgcepea
    padding 40px 30px 30px 2px
    margin 0 0 0 100

#imgcepeaotro
    padding 40px 2px 0px 8px
    float right

#infoprepaotro
    padding 100px 10px 0px 50px
    margin 0px
    font-weight 600
    color: #464646
    font-size: 20px
ul
    background-color #1BA4C5
    font-weight 600
    color: #9DAA9C  
    a 
       color: #98E3A2       

#imgcoa
    padding 40px 220px 0px 0px
    float right

#infocoa
    padding 90px 70px 0px 70px
    font-weight 600
    color: #464646
    font-size: 20px